@model ProjetScrum.Models.Developpeur
@{
    ViewBag.Title = "Forgot Password";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


<h2>Mot de passe oublié</h2>

@Ajax.BeginForm("GetPasswd", "Login", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div1", InsertionMode = InsertionMode.Replace, })

<div class="form-horizontal">
    <hr />
    <div class="text-success">
        @ViewBag.Message
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Email </label>
        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Question Secrete</label>
        @Html.EditorFor(m => m.Secretquestion, new { htmlAttributes = new { placeholder = "Nom de votre mere", @class = "form-control" } })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Envoyé" class="btn btn-success" />
        </div>
    </div>
</div>

@{ Html.EndForm();}

<div id="div1">
</div>